<meta charset="utf-8">
<meta name="theme-color" content="#000080">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{{ .Site.Title }}, programming, coding, freelance, 
    excellence, belgium, belgië, software craftsman, software craftsmanship, 
    Microsoft, .NET, .NET framework, .NET Core, CSharp, C#">
<meta name="google-site-verification" content="JDsToWsvqpcrHeTkR-1sdAJueNaSIezu6rf7iz1a-3o">

{{ range $.Site.Home.AllTranslations }}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
{{ end }}