main {
    padding-top: 70px;
    min-height: 96.3vh;
}
.row {
    margin-bottom: 0.25rem;
}
.row .col-md-4 {
    padding-bottom: 1rem;
}
.headshot {
    width: 300px;
    height: 300px;
}
h1.display-1 {
    color: #003399;
}
h1 {
    color: #006699;
}
h3 {
    color: #0099CC;
}
h5 {
    color: #003399;
}
a {
    color: #0099CC;
}
a:hover {
    color: #003399;
}
.card {
    border-color: #0099CC;
}
footer {
    background-color: #F8F9FA;
    padding-top: .5rem;
    padding-bottom: .5rem;
}