<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Site.Title }}</title>
        <link rel="shortcut icon" href="/img/favicon.ico">
        
        <!-- {{ partial "head/csp.html" . }} -->
        {{ partial "head/meta.html" . }}
        {{ partial "head/social.html" . }}
        {{ partial "head/styles.html" . }}
        
        {{ block "head" . }}
        {{ end }}
    </head>
    <body>
        <header>
            {{ partial "header/nav.html" . }}

            {{ block "header" . }}
            {{ end }}
        </header>

        <main>
            {{ block "main" . }}
            {{ end }}
        </main>

        <footer>
            {{ partial "footer/scripts.html" }}
            {{ block "footer" . }}
            {{ end }}
        </footer>
    </body>
</html>
