<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" 
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" 
        integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw=" 
        crossorigin="anonymous"></script>
<script src={{ "js/clipboard.js" | relURL }}
        integrity="sha256-nM33w2edUyHe2zLdkLhsgQyMOZ3aanfn+1725SBTF5I="
        crossorigin="anonymous"></script>
<!-- Google Analytics -->
<script src={{ "js/analytics.js" | relURL }}
        integrity="sha256-Kk7OGE8Xo2+shjtp77om1Rw4EKFk6sxV7L1dQRPXys0="
        crossorigin="anonymous"></script>