<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" 
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" 
        integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw=" 
        crossorigin="anonymous"></script>
<script src={{ "js/clipboard.js" | relURL }}
        integrity="sha256-Vsw+jzFqceK71rKLSi0eeXZe06u8tmtXZ5F4Q8FTRAk="
        crossorigin="anonymous"></script>
<!-- Google Analytics -->
<script src={{ "js/analytics.js" | relURL }}
        integrity="sha256-TnPgVQkTQxhiB/+qF4F5HhhLKoJg/fHKheZmZVOS3IU="
        crossorigin="anonymous"></script>