{{ $currentUrl := .RelPermalink }}
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href={{ "/" | relURL }}>
            <img src="/img/mtc-32px.png" class="d-inline-block align-top" alt="logo">
        </a>
        <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarNav" 
                aria-controls="navbarNav" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">

                {{ range .Site.RegularPages }}
                    <li class="nav-item">
                        <a class="nav-link {{if eq .RelPermalink $currentUrl}}active{{ end }}" 
                           href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </li>
                {{ end }}

            </ul>

            <span class="navbar-text">
                VAT
            </span>
            <button id="vatButton"
                    type="button" 
                    class="btn btn-light navbar-text" 
                    title="Copy to clipboard"
                    data-toggle="tooltip" 
                    data-placement="bottom"
                    onclick="clipboard('BE0678.903.295')">
                BE0678.903.295
            </button>
        </div>
    </div>
</nav>